@import './mixins/elevation.scss';
@import './mixins/responsive.scss';
@import './mixins/animation.scss';

:host {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    align-items: flex-start;
    @include elevation(1);

    @include size-xs {
        cz-profile-details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: opacity 400ms $animation-standard-curve;

            &.empty {
                pointer-events: none;
                opacity: 0;
            }
        }
    }

    @include size-gt-xs {
        max-height: 600px;
        max-width: 900px;
    }
}
